@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-thumb {
    background: lightsteelblue;
}
*::-webkit-scrollbar-track {
	background: ghostwhite;
}
* {
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
}
HTML {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}
HEAD {
	display: none;
}
BODY {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}

.workbench {
	display: flex;
	flex: 1 1 auto;

	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
.workbench * {
}
.workbench>.context {
	min-width: 48px;
	flex: 0 0;
	background: black;
	color: white;
}
.workbench>.sidebar {
	min-width: 240px;
	max-width: 480px;
	flex: 1 1;
	border-right: 1px solid lightsteelblue;
}
.workbench>.main {
	flex: 3 3;
}
.folder>.header {
	padding: 3px;
	cursor: default;
}
.folder>.header>IMG {
	width: 12px;
}
.folder>.body {
	padding-left: 20px;
}