* {
	margin: 0;
	padding: 0;
	outline: 0;
}
HTML {
	display: flex;
	min-height: 100%;
}
BODY {
	display: flex;
	flex: 1 0;
}
ARTICLE {
	display: block;
	flex: 1 0;
	padding: 15px;
}
#start-edit::BEFORE {
	content: "[";
	color: red;
}
#end-edit::AFTER {
	content: "]";
	color: red;
}
/* Any aria-level that isn't defined in this css is invalid.*/
DIV[aria-level='0'] {
	color: orange;
}
DIV[role=row] {
	font-family: 'IBM Plex Mono';
	font-size: 9pt;
	color: black;
	/* border: 1px solid gainsboro; 
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 5px; */
	border-top: 1px solid gainsboro; 
}
DIV[role=row]:active {
	border-top: 1px solid lightsteelblue;
}
DIV[role=row]:hover {
	background-color: ghostwhite;
}

SECTION {
	padding-bottom: 3px;
}

CODE {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	flex-wrap: wrap;	
	padding-left: 2px;
}
P {
	font-family: 'IBM Plex Sans';
	font-size: 10pt;
	padding-left: 2px;
	color: slategray;
}

CODE>* {
	display: inline-block;
}
*::before, *::after {
	color: gray;
}

error {
	color: red;
}
decl {
	display: block;
	color: green;
}
decl::after {
	content: ":\a0";
}

type {
	display: block;
	color: steelblue;

	/*
	font-weight: lighter;
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	*/
}
type::after {
	content: "\a0";
}
expr {
	display: block;
}

exprs::after {
	content: ")";
}

exprs::before, expr>exprs::before {
	content: "(";
}

exprs>*::before {
	content: ", ";
}
exprs>*:first-child:before {
	content: "";
}

index::before {
	content: "[";
}
index::after {
	content: "]";
}


id::before, string::before, number::before, sym::before, error::before {
	content: " ";
}
id:first-child:before, string:first-child:before, number:first-child:before,
		sym:first-child:before, error:first-child:before {
	content: "";
}

DIV[role=row][aria-level='1']> {
	margin-left: 0em;
}
DIV[role=row][aria-level='2'] {
	margin-left: 2em;
}
DIV[role=row][aria-level='3'] {
	margin-left: 4em;
}
DIV[role=row][aria-level='4'] {
	margin-left: 6em;
}
DIV[role=row][aria-level='5'] {
	margin-left: 8em;
}
DIV[role=row][aria-level='6'] {
	margin-left: 10em;
}

/* Any aria-level that isn't defined in this css is invalid.*/
P[aria-level='0'] {
	color: orange;
}
P[role=listitem] {
	padding-top: 0;
	margin-left: 10em;
}
P[role=listitem]::before {
	display: inline-block;
	margin-left: -1em;
	min-width: 1em;
	text-align: center;
	content: "•";
}
P[role=listitem][aria-level='1'] {
	margin-left: 2em;
}
P[role=listitem][aria-level='2'] {
	margin-left: 4em;
}
P[role=listitem][aria-level='3'] {
	margin-left: 6em;
}
P[role=listitem][aria-level='4'] {
	margin-left: 8em;
}
P[role=listitem][aria-level='5'] {
	margin-left: 10em;
}
P[role=listitem][aria-level='6'] {
	margin-left: 12em;
}
P[role=heading] {
	padding-top: 4px;
	color: steelblue;
}
P[role=heading][aria-level='1'] {
	font-size: 20pt;
	font-weight: bold;
}
P[role=heading][aria-level='2'] {
	font-size: 20pt;
	border-bottom: 1px solid steelblue;
}
P[role=heading][aria-level='3'] {
	font-size: 16pt;
}
P[role=heading][aria-level='4'] {
	font-size: 14pt;
	font-weight: lighter;
}
P[role=heading][aria-level='5'] {
	font-size: 12pt;
}
P[role=heading][aria-level='6'] {
	font-size: 12pt;
	font-style: italic;
	font-weight: lighter;
}
CITE {
	font-style: normal;
	text-decoration: underline;
}
CITE[data-url] {
	color: steelblue;
}
Q {
	color: darkcyan;
}
Q::before {
	content: "\201C";
	color: lightsteelblue;
}
Q::after {
	content: "\201D";
	color: lightsteelblue;
}