* {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
}
html {
	background-color: green;
}
body {
	background-color: white;
	width: 215mm;
	display: flex;
	flex-direction: column;
}
.page {
	margin: 5mm 5mm 5mm 15mm;
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	width: 195mm;
	height: 270mm;
	page-break-after: always;
}
.page > .title {
	font-size: 16pt;
	padding: 2mm;
}

.page > .body {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-end;
	justify-content: space-evenly;
}

.issue {
	margin: 0 2mm 0 2mm;
}
.issue > .title {
	margin-top: 2mm;
	margin-bottom: 1mm;
}

.set {
	display: flex;
	flex-direction: column;
}
.varieties {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.variety {
	display: flex;
	flex-direction: column;
	padding: 1mm 2mm 1mm 2mm;
}
.variety .title {
	padding-bottom: 1px;
	/*line-height: 90%; */
}
.diff {
	font-style: italic;
}
.box {
	padding: 0 1mm 0 1mm;
	justify-content: space-between;
	font-size: 6pt;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.denom {
	padding-top: 1mm;
}
.id {
	padding-bottom: 1mm;
	color: darkgray;
}
.colors {
	font-variant: small-caps;
}
