/* */
@import url("task.css");
@import url("person.css");
@font-face {
	font-family: "octicons";
	src: url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons-local.ttf");
}
* {
	margin: 0;
	padding: 0;
	outline: 0;
	background: white;
}
*::before, *::after {
	color: lightsteelblue;
}

::selection {
	background-color: lightsteelblue;
}
* HEADER::selection {
	background-color: inherit;
}

HTML {
	display: flex;
	/* min-height: 100%; */
}
BODY {
	display: flex;
	/* TOP-LEVEL TASK IS A FORM AND DON'T WANT FLEX */
	flex: 1 0;
}
BODY>* {
	display: block;
	flex: 1 0;
	padding: 15px;
}
/* UI-RECORD.view, UI-RECORD>.view {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	flex-wrap: wrap;	
	color: black;
} */
/* UI-RECORD>.view>* {
	flex: 1
} */
/* UI-RECORD>.view>*>HEADER {
	font-size: 14px;
	padding: 2px;
	min-height: 16px;
	max-height: 16px;
}
UI-TEXT>.view {
	/* border: 1px solid gainsboro; 
	margin: 1px;
	padding: 1px;
} */
UI-TEXT {
	display: flex;
	flex-direction: column;
	padding: 2px;
}
UI-TEXT>.view {
	flex: 1;
	overflow: hidden;
	border: 1px solid gainsboro;
	padding: 2px;
}

#start-marker::BEFORE {
	content: "[";
	color: red;
}

#end-marker::AFTER {
	content: "]";
	color: red;
}

HEADER {
	color: silver;
	cursor: context-menu;
	padding: 2px;
	font-size: smaller;
}

/* UI-TEXT>.view:hover {
	background-color: ghostwhite;
} */

UI-LIST.collapsed>.view, UI-LIST.collapsed>FOOTER {
	display: none;
}

UI-LIST>HEADER::before {
	content: "▼";
	padding-right: 4px;
	color: green;
}

UI-LIST.collapsed>HEADER::before {
	content: "▶";
	padding-right: 4px;
	color: red;
}

.error {
	color: red;
}
