/* */
@import url("ui.css");
@import url("note.css");
@import url("task.css");
@import url("person.css");

/* @font-face {
	font-family: "octicons";
	src: url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons-local.ttf");
} */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	background: white;
}
*::before, *::after {
	color: lightsteelblue;
}

::selection {
	background-color: lightsteelblue;
}
* HEADER::selection {
	background-color: inherit;
}

HTML {
	display: flex;
	/* min-height: 100%; */
}
BODY {
	display: flex;
	/* TOP-LEVEL TASK IS A FORM AND DON'T WANT FLEX */
	flex: 1 0;
}
BODY>* {
	display: block;
	flex: 1 0;
	padding: 15px;
}

HEADER {
	color: gray;
	cursor: context-menu;
	padding: 2px;
	font-size: smaller;
}

#start-marker::BEFORE {
	content: "[";
	color: red;
}

#end-marker::AFTER {
	content: "]";
	color: red;
}

.error {
	color: red;
}
