[data-item=note] {
	display: flex;
	flex-direction: column;
	margin: 2px;
	padding: 8px;
}
/* P:not([aria-level]) {
} */
P {
	font-family: 'IBM Plex Sans';
	font-size: 12pt;
	padding-top: 4px;
	color: darkslategray;
}

[data-item='para'][aria-level]::before {
	content: "•";
	margin-left: -1em;
	margin-right: .5em;
}
[data-item='para'][aria-level='1'] {
	margin-left: 1em;
}
[data-item='para'][aria-level='2'] {
	margin-left: 2em;
}
[data-item='para'][aria-level='3'] {
	margin-left: 3em;
}
[data-item='para'][aria-level='4'] {
	margin-left: 4em;
}
[data-item='para'][aria-level='5'] {
	margin-left: 5em;
}
[data-item='para'][aria-level='6'] {
	margin-left: 6em;
}
[data-item=heading] {
	padding-top: 4px;
	color: steelblue;
}
[data-item=heading][aria-level='1'] {
	font-size: 20pt;
	font-weight: bold;
}
[data-item=heading][aria-level='2'] {
	font-size: 20pt;
	border-bottom: 1px solid steelblue;
}
[data-item=heading][aria-level='3'] {
	font-size: 16pt;
}
[data-item=heading][aria-level='4'] {
	font-size: 14pt;
	font-weight: lighter;
}
[data-item=heading][aria-level='5'] {
	font-size: 12pt;
}
[data-item=heading][aria-level='6'] {
	font-size: 12pt;
	font-style: italic;
	font-weight: lighter;
}
CITE {
	font-style: normal;
	text-decoration: underline;
}
CITE[data-url] {
	color: steelblue;
}
A {
	text-decoration: none;
	color: steelblue;
}
A:hover {
	text-decoration: underline;
}
