 
[data-item=task] {
	display: block;
	margin: 2px;
	padding: 2px;
}
[data-item=task] {
	display: flex;
	flex: 1;
}
[data-item=task]>HEADER::before {
	content: "â—";
	cursor: e-resize;
	margin: 2px;
}

[data-item=task]>.view {
	flex: 1;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
.field[data-item=desc] {
	grid-row: 3;
	grid-column: 1 / 5;
}
.field[data-item=tasks] {
	grid-row: 4;
	grid-column: 1 / 5;
}
.field[data-item=tasks]>.view {
	padding: 2px;
}
.field[data-item=title], .field[data-item=owner], .field[data-item=status], .field[data-item=type], .field[data-item=due] {
	display: flex;
}
.field[data-item=title] {
	grid-column: 1 / 5;
}
.field[data-item=title]>.view {
	background: oldlace;
}