 
[data-type=task] {
	display: block;
	margin: 2px;
	padding: 2px;
}
[data-type=task] {
	display: flex;
	flex: 1;
}
[data-type=task]>HEADER::before {
	content: "â—";
	cursor: e-resize;
	margin: 2px;
}

[data-type=task]>.view {
	flex: 1;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
[data-name=tasks] {
	grid-row: 3;
	grid-column: 1 / 5;
}
[data-name=tasks]>.view {
	padding: 2px;
}
[data-name=title], [data-name=owner], [data-name=status], [data-name=type], [data-name=due] {
	display: flex;
}
[data-name=title] {
	grid-column: 1 / 5;
}
[data-name=title]>.view {
	background: oldlace;
}