UI-RECORD, UI-LIST {
	display: flex;
	flex-direction: column;
}

.content {
	min-height: 22px;
	padding: 1px;
}

HEADER, HEADER>* {
	cursor: default;
	user-select: none;
}

.field {
	display: flex;
	flex-direction: column;
	margin: 3px;
}
.field>.content, UI-TEXT.content {
	overflow: auto;
	border: 1px solid gainsboro;
	border-radius: 3px;
}
UI-LIST.field>.content  {
	border-radius: 3px 3px 0 0;
}
UI-LIST.field>FOOTER {
	min-height: 12px;
	font-size: 10px;
	border: 1px solid gainsboro;
	border-top: 12px;
	background-color: ghostwhite;
	border-radius: 0 0 3px 3px;
}

.content.active {
	border-color: black !important;
	background-color: cornsilk !important;
}

HEADER {
	color: gray;
	padding: 0px;
	font-size: smaller;
}

.collapsed>.content, .collapsed>FOOTER {
	display: none;
}

UI-LIST>HEADER::before, UI-RECORD>HEADER::before {
	content: "▼";
	font-size: 12px;
	padding-right: 2px;
	color: lightsteelblue;
}

UI-LIST.collapsed>HEADER::before, UI-RECORD.collapsed>HEADER::before {
	content: "▶";
	font-size: 12px;
	padding-right: 2px;
	color: orange;
}
P {
	margin-bottom: 3px;
}
UI-ROW {
	display: flex;
	border: 1px solid gainsboro;
	border-width: 1px 0 0 1px !important;
	border-radius: 3px 3px 0 0 !important;
	padding: 0 !important;
	margin: 0;
	background-color: ghostwhite;
}
UI-ROW + UI-ROW {
	border-top-width: 0 !important;
	border-radius: 0 !important;
	background-color: inherit;
}
UI-ROW>UI-CELL {
	flex: 1;
	border: 1px solid gainsboro;
	border-width: 0 1px 1px 0 !important;
	border-radius: 0 !important;
	margin: 0;
}