/* */
.dialogue>.content {
	padding: 4px;
	border: 0 solid gainsboro;
	border-width: 0 1px 1px 1px;
}
.caption {
	background-color: lightsteelblue;
	color: white;
	padding: 2px;
}
.person>.content {
	display: flex;
	flex-direction: row;
}
.person>.content>* {
	flex: 1
}

.label {
	color: steelblue;
}

FOOTER {
	padding-top: 4px;
	font-size: x-small;
}

/*
by default, names are class names, i.e. converted to ".name"
slash start a child selector: "/name" becomes ">.name"
	name: {
		"/name": {
			.name>.name

			"/*": {
			}
			border: {
				top: // generates... border-top
			}
		}
	}
*/